.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 86px;
}

.button {
  color: white;
  padding: 5px;
  cursor: pointer;
  float: left;
  border: none;
  margin-right: 15px;
}

.button:hover {
  background: red;

  color: #fff;
}
