.container {
  border-radius: 5px;
  width: 500px;
  height: 800px;
  margin: 0 auto;
  margin-top: 30px;

  padding: 30px;
  box-shadow: 0 2px 20px rgb(27 23 23 / 38%);
  background-color: rgb(29 145 179 / 32%);
}

.header {
  text-align: center;
  padding-top: 60px;
}

.loader {
  text-align: center;
}
